
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
local-config.php

.git/
wp-content/themes/thegramlist/node_modules
wp-content/uploads/wp-migrate-db
wp-content/uploads/wpcf7_captcha
local-config.php
wp-config.php
.htaccess
wp-content/wflogs
